# dependencies
node_modules
**/node_modules
**/**/node_modules

# production

public
**/public
**/**/public


# env
.env
**/.env
**/**/.env

# example
example

# JS local example
**/example/local-sqlite-cloud-chat