
C/cli/sqlitecloud-cli.xcodeproj/project.xcworkspace/contents.xcworkspacedata
C/cli/sqlitecloud-cli.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
C/cli/sqlitecloud-cli.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate
C/cli/sqlitecloud-cli.xcodeproj/xcuserdata/marco.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
C/cli/sqlitecloud-cli.xcodeproj/xcuserdata/marco.xcuserdatad/xcschemes/xcschememanagement.plist
C/cli/sqlitecloud-cli.xcodeproj/xcshareddata/xcschemes/sqlitecloud-cli.xcscheme
C/cli/sqlitecloud-cli.xcodeproj/project.xcworkspace/xcuserdata/marco.xcuserdatad/UserInterfaceState.xcuserstate
