C/cli/sqlitecloud-cli.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
C/cli/sqlitecloud-cli.xcodeproj/xcuserdata/marco.xcuserdatad/xcschemes/xcschememanagement.plist
C/sqlitecloud-cli
bin
pkg
*.db
.DS_Store
.vscode
*.tmproj
example-session.txt
*.o
*.a
Arbeitszeiten.txt
github.com
golang.org
honnef.co
mvdan.cc
*.xcworkspacedata
*.xcuserstate
*.xcscheme
*.xcexplist
*.xcbkptlist
native*.go

GO/src/gopkg.in/ini.v1/
GO/src/sqliteweb/dashboard/.nova/Configuration.json
*.plist
*.plist
C/test/test.xcodeproj/xcuserdata/marco.xcuserdatad/xcschemes/xcschememanagement.plist


# dependencies
JS/node_modules
JS/**/node_modules
JS/**/**/node_modules

# production
JS/dist
JS/**/dist
JS/**/**/dist
JS/public
JS/**/public
JS/**/**/public


#env
JS/.env
JS/**/.env
JS/**/**/.env

#vercel
JS/.vercel
