<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="This sample web app demonstrates the power of the Pub/Sub capabilities built into SQLite Cloud. Open this page on two or more separate devices and try to send messages to different channels. The underline Javascript SDK communicates with an SQLite Cloud cluster, and it uses the standard PUB/SUB commands to efficiently broadcast messages between the channels.">
  <title>SQLite Cloud Chat</title>  
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
</head>

<body>
  <div id="root"></div>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
</body>

</html>